apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: frontend
        image: godzella007/frontend:latest
        ports:
        - containerPort: 3000
      - name: backend
        image: godzella007/backend:latest
        ports:
        - containerPort: 3001
        env:
        - name: MONGODB_URI
          value: mongodb://my-mongodb-service:27017/my-database
      - name: mongodb
        image: mongo:latest
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: mongodb-data
          mountPath: /data/db
      volumes:
      - name: mongodb-data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: my-app-frontend-service
spec:
  selector:
    app: my-app
    name: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: my-app-backend-service
spec:
  selector:
    app: my-app
    name: backend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: my-mongodb-service
spec:
  selector:
    app: my-app
    name: mongodb
  ports:
  - protocol: TCP
    port: 27017
    targetPort: 27017
